header {
    padding-top: 2px;
    padding-bottom: 10px;
    margin-left: -10px;
    
}

.search {
    color: gray;
    position: relative;
    margin: auto;
    text-align: center;
    width: 50%;
}
button {
    border-style: none;
}
button:hover {
    -moz-box-shadow: 0 0 2px 1px #999;
    -webkit-box-shadow: 0 0 2px 1px #999;  
}

.under {
    color: rgba(0, 0, 0, 0.699);
    background-color: rgb(243, 243, 243);
    padding: 10px 10px 10px 10px;
}
.search.border {
    margin-top: 30px;
    padding: 0% 20% 0% 10%;
}
.search.border:hover {
    -moz-box-shadow: 0 0 2px 1px #999;
    -webkit-box-shadow: 0 0 2px 1px #999;  
}
input {
    outline-style: none;
    flex: 100%; 
    margin-right: 30%;
    position: relative;
    bottom: 50%; 
    height: 50%; 
    background-color: transparent; 
    border: none; 
    text-align: left;
}

.top{
    color: black;
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    padding: 5px 15px;
    
}
.nav {
    color: black;
    font-size: small;
}
.right {
    float: right;
    margin-left: 10px;
    padding-left: 0;
    height: 50%;
}
.left {
    float: left;
}

ul {
    float: left;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

li {
    display: inline;
    padding: 5px;
}
 .border {
     flex: auto;
    border-radius: 24px;
    width: 400px;
    height: 44px;
    border: 1px solid;
    background-color: rgb(255, 255, 255);
}
 .border:hover{
    box-shadow: 20ch;

}

a {
    text-decoration: none;
    color: gray;
    margin-left: 5px;
    margin-left 5px;
    
}
a .pos {
    background-color: indigo;
}
a:hover {
    text-decoration: underline;
}
section {
    float: left;
}
#middle {

    margin-left: 20%;
}
#right {

    position: absolute;

right: 1em;
    text-align: right;
}
footer {
    background-color: lightgrey;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:33px;
}
